@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

#root {
width: auto;
height: 100%;
}


.main {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: auto;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/cb/6d/2c/cb6d2c974f71580b964c1f931e8b2aa3.jpg');
}

.weather {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  width:300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(182, 140, 140, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  margin: 20px 0px;
}

.date {
  display: flex;
  justify-content: center;
  flex-direction:column;
  text-align: center;
  padding: 8px;
  margin: 14px;
}

button{
  width: 35px;
  height: 35px;
  border-radius: 50rem;
  background-color:black;
  border: white solid;
}
